<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>글작성</title>
</head>

<style>
    h1 {
        margin-top : 40px;
        text-align : center;
    }
    .writePage {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
    input, textarea, select {
        width : 100%;
    }
    textarea {
        margin-top : 5px;
        height : 500px;
    }
    button {
        margin-top : 5px;
    }

</style>

<body>
    <H1>판매글 작성</H1>
    <div class="writePage">
        <form action="/board/writeEnd" method="POST" enctype="multipart/form-data">
            <input name="nickname" th:value="${#authentication.name}" readonly/></br>
            <select name="bCategory">
                <option>디지털기기</option>
                <option>가구/인테리어</option>
                <option>유아동</option>
                <option>의류</option>
                <option>생활가전</option>
                <option>생활/주방</option>
                <option>식품</option>
                <option>스포츠/레저</option>
                <option>취미/게임</option>
                <option>뷰티/미용</option>
                <option>식물</option>
                <option>반려동물용품</option>
                <option>티켓/도서</option>
                <option>기타</option>
            </select>
            <input name="bTitle" placeholder="제목">
            <input name="bPrice" placeholder="가격"></br>
            <textarea name="bContent" placeholder="게시글 작성"></textarea></br>
            <input name="file" type="file"></br>
            <button type="submit">등록</button>
            <button type="button" th:onclick="|location.href='@{/board/list}'|">취소</button>
        </form>
    </div>
</body>
</html>