<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시판 리스트</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link th:href="@{/css/boardList.css}" rel="stylesheet" />

</head>
<body>
<!--Title-->
<div class="myInfo">
    <li sec:authorize="isAuthenticated()" style="list-style:none;">
        <p>안녕하세요<a th:href="@{/mypageView}"><span sec:authentication="name"></span></a>님</p>
    </li>
    <li sec:authorize="isAuthenticated()" style="list-style:none">
        <a th:href="@{/board/logout}">로그아웃</a>
    </li>
</div>
<h1>판매게시판</h1>

<!--게시판-->
<div class="list">
    <table>
        <thead>
        <tr>
            <th>글번호</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>가격</th>
            <th>작성일자</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.bId}">1</td>
            <td th:text="${board.bCategory}"></td>
            <td>
                <a th:text="${board.bTitle}" th:href="@{/board/view(id=${board.bId})}"></a>
            </td>
            <td th:text="${board.bPrice}"></td>
            <td th:text="${board.bDate}"></td>
            <td th:text="${board.bViews}"></td>
        </tr>
        </tbody>
    </table>

    <!--글작성버튼-->
    <button class="writeButton" th:onclick="|location.href='@{/board/write}'|">글작성</button>

    </br>

    <div class="pageDiv">
        <!--Paging-->
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a class="pageNumber" th:if="${page != nowPage}"
               th:href="@{/board/list(page = ${page -1}, searchKeyword = ${param.searchKeyword})}"
               th:text="${page}"></a>
            <strong class="pageStrong" th:if="${page == nowPage}" th:text="${page}"></strong>
        </th:block>

        <!--검색-->
        <form class="findForm" th:action="@{/board/list}" method="get">
            <input class="findInput" type="text" name="searchKeyword">
            <button class="findBtn" type="submit">검색</button>
        </form>
    </div>
</div>
</body>
</html>