<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>

<style>
    .boardPage {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>

<body>
    <div class="boardPage">
        <form>
            작성자 : <input class="writer" type="text"></br>
            제목 : <input class="title" placeholder="제목"></br>
            카테고리 : <input class="category"></br>
            가격 : <input class="price"></br>
            사진 : <input class="image"></br>
            <textarea class="content" placeholder="게시글작성"></textarea></br>
            <button type="submit">등록</button>
            <a href="list">취소</a>
        </form>
    </div>
</body>
</html>