<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<style>
    div {
        margin : 0 auto;
        margin-top : 40px;
        width : 800px;
    }
</style>

<body>
<div>
    <h1 th:text="${board.bTitle}"></h1>

    <hr>

    작성자 : <span th:text="${#authentication.name}"></span><br/>
    카테고리 : <span th:text="${board.bCategory}"></span><br/>
    가격 : <span th:text="${board.bPrice}"></span><br/>
    거래장소 : <span th:text="${board.bAddress}"></span><br/>
    거래장소 상세설명 : <span th:text="${board.bDetailAddress}"></span><br/>
    작성일 : <span th:text="${board.bDate}"></span><br/>
    조회수 : <span th:text="${board.bViews}"></span><br/>

    <hr>

    <p th:text="${board.bContent}"></p>
    <img th:src="${board.filePath}" alt="no image">

    <hr>

    <a th:href="@{${board.filePath}}">사진보기</a>
    <a th:href="@{/board/delete(id=${board.bId})}">글삭제</a>
    <a th:href="@{/board/modify/{id}(id=${board.bId})}">글수정</a>
    <a th:href="@{/board/list}">목록</a>
</div>

</body>
</html>