<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>

<style>
    .boardPage {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>

<body>
    <div class="boardPage">
        <form action="/board/list" method="POST">
            <input class="writer" type="text" placeholder="작성자"></br>
            <input class="title" placeholder="제목"></br>
            <input class="category" placeholder="카테고리"></br>
            <input class="price" placeholder="가격"></br>
            <input class="image" placeholder="사진 업로드"></br>
            <textarea class="content" placeholder="게시글 작성"></textarea></br>
            <button type="submit">등록</button>
            <a href="list">취소</a>
        </form>
    </div>
</body>
</html>