<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>

<body>
<form method="post" action="/member/login">
    <span>이메일</span><input type="text" name="email">
    <span>비밀번호</span><input type="password" name="password">
    <p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}"></p>
    <li sec:authorize="isAnonymous()" style="list-style:none;">
    <button type="submit">로그인</button>
    </li>
    <li sec:authorize="isAuthenticated()">
        <div th:each="list : ${myInfo}">
            <a th:href="@{/mypageView(email =${list.email})}">
                <span th:text="${list.email}"></span>
            </a>
        </div>
    </li>
    <li sec:authorize="isAuthenticated()">
        <button type="submit">로그아웃</button>
    </li>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</form>
<a th:href="@{/UserJoinPage}">회원가입</a>
<li sec:authorize="isAuthenticated()">
    <a th:href="@{/boardList}">판매</a>
</li>
</body>
</html>