<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>회원가입</h2>

<form action="/save" method="post">
<span>이름 :</span>
<input type="text" name="name"><br>
<span>이메일 : </span>
<input type="text" name="email" id="email" onchange="validateEmail()"><br>
<span>비밀번호 : </span>
<input type="password" name="password"><br>
<span>전화번호 : </span>
<input type="text" name="phone"><br>
<span>닉네임 : </span>
<input type="text" name="nickname"><br>
<span>주소 : </span>
<input type="text" name="address"><br>

    <button type="submit" value="회원가입">회원가입</button>
        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">

</form>

<!--<script>-->
<!--    var email_rule = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*-->
<!--    var email = $("#email").val();-->

<!--    if(!email){-->
<!--    alert("이메일을 입력해주세요");-->
<!--    $(#email).focus();-->
<!--    return false;-->
<!--    } else if(!email_rule.test(email)) {-->
<!--    alert("이메일 형식에 맞게 입력해주세요");-->
<!--    return false;-->
<!--    }-->

<!--</script>-->

</body>
</html>